 <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type= "text/css" href="{% static '/CSS/home.css' %}">
</head>
<body>

    <div id="title">
        <img src="/static/Images/name.svg" alt="StudyDorm">

    </div>
    
    <div id="lefter">
        <a href="#"><img src="/static/Images/txtrdr.svg" id="txtrdr" class="button"></a>
        <a href="#"><img src="/static/Images/music.svg" id="music" class="button"></a>
        <a href="#"><img src="/static/Images/reward.svg" id="reward" class="button"></a>
    </div>
    
    <div id="righter">
        <a href="#"><img src="/static/Images/lamp.svg" id="lamp" class="button"></a>
        <a href="#"><img src="/static/Images/reminder.svg" id="reminder" class="button"></a>
        <a href="#"><img src="/static/Images/games.svg" id="games" class="button"></a>
    </div>
</body>
</html>